.Wdate{
	border:#999 1px solid;
	width:150px;
	/*height:16px !important;*/
	background:#fff url(datePicker.gif) no-repeat right;
}
.value .Wdate{
	border:#999 1px solid !important;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}