<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName" default-lazy-init="false">

  <!-- WinterDao动态代理类 -->
  <bean id="winterDaoHandler" class="com.qihang.winter.winterdao.factory.WinterDaoBeanScannerConfigurer">
    <!-- 是使用什么字母做关键字Map的关键字 默认值origin 即和sql保持一致,lower小写(推荐),upper 大写 -->
    <property name="keyType" value="lower"/>
    <!-- 格式化sql -->
    <property name="formatSql" value="false"/>
    <!-- 输出sql -->
    <property name="showSql" value="false"/>
    <!-- 数据库类型 -->
    <property name="dbType" value="mysql"/>
    <!-- dao地址,配置符合spring方式 -->
    <property name="basePackage" value="com.qihang.winter.web,com.qihang.buss"/>
    <!-- 使用的注解,默认是WinterDao,推荐 Repository-->
    <property name="annotation" value="org.springframework.stereotype.Repository"/>
  </bean>
</beans>