body {
    background: white;
    margin: 10px 5px 5px 10px;
    padding: 10px 5px 5px 10px;
    font-size: 13px;
    text-align: left;
    overflow: auto;
}

.pb {
    font-size: 13px;
    border-collapse: collapse;
}

.pb th {
    font-weight: bold;
    text-align: center;
    border: 1px solid #333333;
    padding: 2px;
    width: 120px;
}

.pb td {
    border: 1px solid #333333;
    padding: 2px;
}